<nav class="navbar navbar-inverse bg-primary">
<div class="container">
<%= link_to "Members Only", root_path, id: "logo" %>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link active" %> </a>
  </li>
  <li class="nav-item">
    <%= link_to "Posts", posts_path, class: "nav-link" %>  
  </li>
    <% if logged_in? %>
    <li class="nav-item">
    <%= link_to "Log out", logout_path , method: :delete, class: "nav-link" %>
    </li>
     <% else %>
       <li class="nav-item">
    <%= link_to "Sign up", signup_path, class: "nav-link" %>
  </li>  
  <li class="nav-item">
   	<%= link_to "Login", login_path, class: "nav-link" %>
  </li>
    <% end %>
</ul>
</div> 
</nav>