<!DOCTYPE html>
<html>
  <head>
    <title>Enter site title here</title>
    <%= render 'layouts/main' %> 
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type%>"><%= message %></div>
    <% end %>    


  	
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
